  GNU nano 8.7                                  .gitignore
# Data Science - Ignore raw data
data/raw/*.csv
data/processed/
results/
dataset/

# Python - Ignore system files
__pycache__/
*.pyc
.venv/
env/
.env

# IDE - Ignore settings
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/

# Temporary files
DELETELATER/

